[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
setuptools = "*"
wheel = "*"
pre-commit = "*"
pygame-minesweeper-core = "*"
pygame-minesweeper-sprites = "*"
appdirs = "*"

[requires]
python_version = "3.6"
