[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
pytest = "*"
pytest-cov = "*"
setuptools = "*"
wheel = "*"
pre-commit = "*"
pytest-azurepipelines = "*"
pygame-minesweeper-core = "*"
pygame-minesweeper-sprites = "*"

[requires]
python_version = "3.8"
